@{
    ViewBag.Title = "Home";
}


<div class="jumbotron" style="background-image: url(/Imagenes/fondoplog.jpg)">   
    <h1 style="color: #FFFFFF">PortLog</h1>
    <p class="lead" style="color: #F0F0F0">
        Somos una empresa uruguaya líder en soluciones logísticas que brinda a sus clientes el almacenaje y
        soporte a los procesos de exportación e importación de diversos productos.
    </p>
    <p class="lead" style="color: #F0F0F0">
        PortLog es desarrollado y administrado por especialistas de la industria con décadas de conocimiento acumulado
        y una verdadera pasión por ofrecer soluciones digitales.
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div style="background-image: url(/Imagenes/bannerceleste.jpg)">
        <h2 class="text-center" style="color: white">Beneficios</h2>
    </div>
    <div class="col-md-4 text-center">
        <h3>Optimización del inventario</h3>
        <p>
            Reducción del inventario nacional total en cada país. Reducción del inventario total de la región.
        </p>
        <p><a class="btn btn-default" href="#">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h3>Reducción de Costos</h3>
        <p>
            Clientes con más de 3 años de antiguedad se benefician con un 5% de descuento
        </p>
        <p><a class="btn btn-default" href="#">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h3>Mejora del servicio</h3>
        <p>
            Reduce los plazos de entrega. Capacidad de capturar otros segmentos del mercado.
        </p>
        <p><a class="btn btn-default" href="#">Leer más &raquo;</a></p>
    </div>
</div>