
@{
    ViewBag.Title = "GenerarTxt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<p>Se han generado los archivos exitosamente</p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div>
    @Html.ActionLink("Inicio", "Index", "Home")
</div>